data/external/tl_2025_us_county/tl_2025_us_county.shp
data/external/tl_2025_us_county/tl_2025_us_county.zip
.python_packages/
__pycache__/
*.pyc
tmp
data\raw\tl_2025_us_county\tl_2025_us_county.shp
*.tif
*.pdf
articles/
archive/
data\external\tl_2025_us_county\tl_2025_us_county.shp
